body{
width: 100%;
background-image: url(fundo-floresta.jpg);
background-size: cover;
background-repeat: repeat-y;
}

div{
width: 980px;
margin: 15px auto;
text-align: center;
background-color: white;
padding: 50px 0; 

}
.texto{text-align: justify;padding-left: 120px;padding-right: 120px;}
