body
{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

body{
    background-color: aqua;}

.tudo{    
    background-color: white ;
    text-align: center;
    margin-left: 560px;
    margin-right: 560px;
    height: 700px;
    box-shadow: 10px 10px 10px #939393 ;
  }

  img{
    width: 400px;
  }
  .titulo{text-align: justify;padding-left: 5px;padding-right: 5px;}
  .texto{text-align: justify;padding-left: 10px;padding-right: 10px;}
